@charset "utf-8";
.contenedor{
	width:80%;
	max-width: 1000px;
	margin:0 auto;
	overflow:hidden;
	
	}
#header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}
#header img {
	width: 100%;
	height:auto;

}
#footer {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	height: auto;
	
}
#footer img {
	width: 100%;
	height:auto;
	
}        

@media screen and (max-width: 400px){
	.contact_form label{
		width:100%;
		}
	.contact_form input{
		width:100%;
		}	
  }
@media screen and (max-width: 400px){
	.contenedor{
		width:100%;
		}
	
	}